ul {
  padding: 0;
  margin: 0;
}

.app__inner {
  gap: 50px;
}

.container__hor {
  display: flex;
  justify-content: center;
}

.container__vert {
  display: flex;
  flex-flow: column;
}

.container__searchAndDisplay {
  width: 50vh;
  max-width: 50vh;
  background-color: rgb(165, 231, 255);
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.wishlist {
  height: 80vh;
  width: 50vh;
  background-color: rgb(165, 231, 255);
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.wishlist__item_container {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 5px;
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.wishlist__deleteBtn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(132, 132, 132);
  border-width: 0;
  border-radius: 5px;
}

.wishlist__deleteBtn:hover {
  background-color: rgb(98, 98, 98);
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bookCard {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: relative;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 5px;
  box-sizing: border-box;
}

.searchBar__submitBtn {
  background-color: rgb(74, 2, 181);
  color: white;
  border-width: 0;
  border-radius: 5px;
}

.searchBar__submitBtn:hover {
  background-color: rgb(16, 1, 115);
  cursor: pointer;
}
